

<div class="page-content page-container" id="page-content">

  
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-md-6">

  <form class="searchbarMessages card card-bordered mt-8 space-y-6" action="/message" method="POST">
    <input type="hidden" name="remember" value="true">
    <div class="-space-y-px rounded-md shadow-sm">
      <div>
        <p>Search by username here</p>
        <label for="userName" class="sr-only">Email address</label>
        
        <input id="userName" name="userName" type="text"   onkeyup="sendData(this)" class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="User name">
        <div id="searchResults"></div>
      </div>
    
    </div>


            <div class="card card-bordered">
              <div class="card-header">
                <h4 class="card-title"><strong>Message</strong></h4>
                <a class="btn btn-xs btn-secondary" href="#" data-abc="true">UserName</a>
              </div>


         

              <!-- <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;"> -->
                <div class="media media-chat">
                  <img class="avatar" src="/imgs/doggy.png" alt="pic">
                  <div class="media-body">
                    <% if(locals.sent === true) { %>
                    <% for(let i = 0; i < messagesTo.length; i++) { %>
                    <p><%= messagesTo[i].message %></p>
                     <% } %>
                     <% } %>
                    <!-- <p>What are you doing tomorrow?<br> Can we come up a bar?</p> -->
                    <!-- <p class="meta"><time datetime="2018">23:58</time></p> -->
                    
                  </div>
                </div>

                <!-- <div class="media media-meta-day">Today</div> -->

                <div class="media media-chat media-chat-reverse">
                  <div class="media-body">
                    <%if (locals.received === true) { %>
                      <% for(let i = 0; i < messagesFrom.length; i++) { %>
                    <p><%= messagesFrom[i].message %></p>
                    <% } %>
                    <% } %>
                    <!-- <p class="meta"><time datetime="2018">00:06</time></p> -->
                  </div>
                </div>

                <div class="publisher bt-1 border-light">
                  <img class="avatar avatar-xs" src="/imgs/doggy.png" alt="profile pic">
               
                    <input class="publisher-input" type="text" placeholder="Your message" name="message">
                  </form>

                  <!-- <span class="publisher-btn file-group">
                    <i class="fa fa-paperclip file-browser"></i>
                    <input type="file">
                  </span> -->
                  <!-- <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                  <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a> -->
                </div>

           

             </div>
          </div>
          </div>
          </div>
          </div>