<%- include('partials/header') -%>
<%- include('partials/menu') -%>




  <header class="bg-white shadow profile-header">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 notifications-h1">Create Your Network</h1>
    </div>
  </header>

<main class="container" id="mainNetworkForm">


    <!-- <div class="row justify-content-around mt-5">
        <form action="/createNetwork/:id" method="post">
            <label for="name">test</label> <input type="text" name="name">
        </form>
    </div> -->
    <form class="createNetworkForm" action="/network/createNetwork" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <label for="networkName" class="form-label">Name</label>
            <input type="text" class="form-control" id="networkName" name="networkName" required>
          </div>
        <!-- <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> -->
        <div class="mb-3">
          <label for="slogan" class="form-label">Slogan</label>
          <input type="text" class="form-control" id="slogan" name="slogan" required>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" name="description" required>
        </div>


        <!-- <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword">
          </div> -->

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Logo</label>
            <input type="file" class="form-control" id="imageUpload" name="file" required>
          </div>

          <!-- <div class="mb-3 radioInput">
            <label for="type">Whould you like your network to be private or public? </label>
                <p class="typeExplanation">In private networks, only people you authorize to join will have access to the network. Public networks are open for all.</p>
                <input class="radio" type="radio" value="Private" name="type">Private</input>
                <input class="radio" type="radio" value="Public" name="type">Public</input>
                
        </div> -->
        
        <!-- <div class="mb-3 radioInput">
        <label class="label" for="how">How did you find out about Isteraha?  
            <input class="radio" type="radio" value="Friends and colleagues" name="how">Friends and colleagues</input>
            <input class="radio" type="radio" value="Other social media" name="how">Other social media</input>
            <input class="radio" type="radio" value="Advertisements" name="how">Advertisements</input>
            <input class="radio" type="radio" value="Another business" name="how">Another business</input>
            <input class="radio" type="radio" value="Other" name="how">Other</input>
          </label>
      </div> -->



      <div class="wrapper">
        <div class="title">Would you like your network to be private or public?</div>
        <div class="box">
          <p class="typeExplanation">In private networks, only people you authorize to join will have access to the network. Public networks are open for all and their posts can be seen by all users.</p>
          <input class="radio" type="radio" value="Public" name="type" id="value1"></input>
          <input class="radio" type="radio" value="Private" name="type" id="value2"></input>

          <label for="value1" class="value1">
            <div class="select-dots"></div>
            <div class="text">Public</div>
          </label>
          <label for="value2" class="value2">
            <div class="select-dots"></div>
            <div class="text">Private</div>
          </label>
      
        </div>
      </div>





      <div class="wrapper">
        <div class="title">How did you learn about Isteraha?</div>
        <div class="box">

          <!-- <input type="radio" name="how" id="value-1">
          <input type="radio" name="how" id="value-2">
          <input type="radio" name="how" id="value-3">
          <input type="radio" name="how" id="value-4"> -->
          <!-- <input class="radio" type="radio" value="Friends and colleagues" name="how" id="value-1">Friends and colleagues</input>
          <input class="radio" type="radio" value="Other social media" name="how" id="value-2">Other social media</input>
          <input class="radio" type="radio" value="Advertisements" name="how" id="value-3">Advertisements</input>
          <input class="radio" type="radio" value="Another business" name="how" id="value-4">Another business</input>
          <input class="radio" type="radio" value="Other" name="how" id="value-5">Other</input> -->

          <input class="radio" type="radio" value="Friends and colleagues" name="how" id="value-1"></input>
          <input class="radio" type="radio" value="Other social media" name="how" id="value-2"></input>
          <input class="radio" type="radio" value="Advertisements" name="how" id="value-3"></input>
          <input class="radio" type="radio" value="Another business" name="how" id="value-4"></input>
          <input class="radio" type="radio" value="Other" name="how" id="value-5"></input>

          <label for="value-1" class="value-1">
            <div class="select-dots"></div>
            <div class="text">Friends and colleagues</div>
          </label>
          <label for="value-2" class="value-2">
            <div class="select-dots"></div>
            <div class="text">Other social media</div>
          </label>
          <label for="value-3" class="value-3">
            <div class="select-dots"></div>
            <div class="text">Advertisements</div>
          </label>
          <label for="value-4" class="value-4">
            <div class="select-dots"></div>
            <div class="text">Another business</div>
          </label>
          <label for="value-5" class="value-5">
            <div class="select-dots"></div>
            <div class="text">Other</div>
          </label>
        </div>
      </div>

          <!-- <div class="mb-3">
            <label for="kind">What kind of network are you creating?</label>
            <input type="radio" id="informal" value="Informal" name="kind">Informal social network</input>
            <input type="radio" id="formal" value="Professional network" name="kind">Professional network</input>
            
            </div>


         

          <div class="mb-3">
          <label for="custom">Are there custom features you'd like added? </label>
            <input type="text" name="custom">
           
            </div> -->

        <button type="submit" class="btn btn-primary create-network-button">Submit</button>
      </form>
</main>
    

<%- include('partials/footer') -%>