<%- include('partials/header') -%>

<main class="container">
    <header>
        <!-- <img src="<%=network.logo%>" alt="logo"> -->
        <!-- <p><%=network.slogan%></p> -->

    </header>
   
</main>

<div>
    <form class="black" action="#">
        <input class="text-black" class="black" type="email" name="email">
        <input class="text-black" class="black" type="text" name="userName">
        <button class="text-black">Invite</button>
       </form>
</div>


<%- include('partials/footer') -%>